<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Best Burger</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href= "/assets/css/style.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/scripts.js"></script>
</head>
<body>
    <div class="jumbotron text-center">
        <img src="img/burger.png" alt="">
         <h1  class="display-4 header">THE BEST BURGER</h1>
    </div>
{{{ body }}}

</body>
</html>